
/* @media screen and (max-width: 479px) {

   .benefits .container {
    width: 100%;
   }
} */

.benefits {
    /* padding-top: 94px;
    padding-bottom: 94px; */
padding-top: 60px;
    padding-bottom: 60px;

/* @media screen and (max-width: 479px) {

        padding-top: 60px;
        padding-bottom: 60px;

    } */

}

.benefits__list {

    list-style: none;
   /*  display: flex;
    justify-content: space-between; */
    padding-left: 0;

    /* @media screen and (max-width: 479px) {
    
            max-width: 100%;
    
        } */

}

.benefits__icon {
    background-color: #f5f4fa;
    /* width: 270px; */
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;

@media screen and (max-width: 479px) {

        /* max-width: 479px; */

    }

}

.benefits__title {
    font-size: $min-font-size;
    font-weight: $bold-font;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* width: 270px; */
    margin-bottom: 10px;
    text-align: center;

    /* @media screen and (max-width: 479px) {
    
            text-align: center;
            width: 100%;
    
        } */

}

.benefits__text {

    font-weight: $normal-font;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-color;
   /*  width: 270px; */
    margin-bottom: 30px;

    &.benefits__text--margin-bottom-o {
            margin-bottom: 0px;
        }
    
    }

  


