

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
    padding-top: 93px;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 768px) {
    
            
            padding-top: 0px;

    
        }



}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;

    & .modal {
        transform: translate(-50%, -50%) scale(0.5);
    }
}

.modal {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;    
    padding: 40px;    
    margin-left: auto;
    margin-right: auto;
       

    @media screen and (max-width: 480px) {
    
            width: 100%;
    
        } 

    
    @media screen and (min-width: 768px) {
        
            
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);    
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


        }

    }

.close-backdrop {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 0;
    fill: #000000;
    background-color: #ffffff;
    border: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        fill: #2196f3;
    }
}

.close-backdrop__icon {
    stroke: #afb1b8;
    
}

.work-overlay {
    position: relative;
    overflow: hidden;
}


.modal__title {
    font-weight: $bold-font;
    font-size: 20px;    
    line-height: 1.5;
    text-align: center;
    margin-bottom: 12px;
    line-height: 1.5;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
    
            line-height: 1.15;
    
        }

}

.modal__field {
    position: relative;
    display: flex;
    flex-direction: column;

    &--margin-bottom-10 {
        margin-bottom: 10px;
    }

    &--margin-bottom-20 {
        margin-bottom: 20px;
    }

    & label {
        margin-bottom: 4px;
            letter-spacing: 0.01em;
            color: #757575;
            font-weight: $normal-font;
            font-size: 12px;
            line-height: 1.02;
    }

    & input {
        height: 40px;
            padding-left: 40px;
    }

    & input, & textarea {
        border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
    }

    &--big-comment {
        resize: none;
            height: 120px;
            padding: 12px 16px;
            

            &::placeholder {
                font-weight: $normal-font;
                    font-size: 12px;
                    line-height: 1.02;
                    letter-spacing: 0.01em;
                    color: rgba(117, 117, 117, 0.5);
            }
    }
}

input:focus,
.modal__field--big-comment:focus {
    border: 1px solid #2196f3;
    outline: none;
}

.modal__field:hover .modal__icon--person-black,
.modal__field:hover .modal__icon--phone-black,
.modal__field:hover .modal__icon--email-black {
    fill: #2196f3;
}

.modal__field:focus-within svg {
    fill: #2196f3;
}

.modal__field:hover input,
.modal__field:hover .modal__field--big-comment,
.modal__field:focus input,
.modal__field:focus .modal__field--big-comment {
    border: 1px solid #2196f3;

}

.modal__field svg {
    position: absolute;
    left: 15px;
    top: 50%;
}

.modal__agree {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    
}

.agree__text {
    
    font-weight: $normal-font;
    
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;

@media screen and (min-width: 1200px) {

        font-size: $min-font-size;
        line-height: 1.71;

    } 

}

.agree__link {
    color: #2196f3;
    font-weight: $normal-font;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: underline;

    @media screen and (min-width: 1200px) {
    
            font-size: $min-font-size;
            line-height: 1.71; 
    
        } 

}

.modal__btn-send {
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 200px;
    height: 50px;
    color: #ffffff;
    font-size: $normal-font-size;
    font-weight: $bold-font;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: #188ce8;
    }
}

.agree__checkbox {
  appearance: none; 
  position: absolute;
  
  }

.agree__icon {
    width: 16px;
    height: 15px;
    display: block;
    border-radius: 2px;
    border: 0.2px solid #212121;
    background-color: #ffffff;
    margin-right: 7px;
}

.agree__checkbox:checked+.agree__icon {
    background-image: url(../images/icon-check.svg);
    background-color: #2196f3;
    background-size: contain;
    border: 0.2px solid #2196f3;
}

.agree__checkbox:focus+.agree__icon {
    
    border: 0.2px solid #2196f3;
}

.agree__checkbox:focus {
    border: none;
}

.p-inline {
    display: inline;
}






