

@media screen and (min-width: 768px) {

    .team .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {

    .team .container {
        width: 1200px;
    }
}

.team {
    background: #f5f4fa;
    
    padding-top: 60px;
    padding-bottom: 60px;

@media screen and (min-width: 1200px) {

    padding-top: 94px;
    padding-bottom: 94px;

}
}

.team__title {

    font-weight: $bold-font;    
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;    
    font-size: 28px;
    margin-bottom: 30px;


@media screen and (min-width: 1200px) {

    font-size: $high-font-size;
    margin-bottom: 50px;

}
}

.team__list {
    
    list-style: none;
    padding-left: 0;

    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
            
            }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
            
            }
}

.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;

    

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
        margin-bottom: 30px;

    }

    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 1*30px)/2);
    
        &:not(:nth-last-child(-n+2)) {
        margin-bottom: 30px;    
        }
    }

        @media screen and (min-width: 1200px) {
margin-bottom: 0px;
flex-basis: calc((100% - 3*30px)/4);
}
    }

    
.team__foto {

width: 100%;
height: auto;
display: block;

}


.team-name {
    padding-top: 30px;
    padding-bottom: 30px;

@media screen and (min-width: 768px) {
        padding-bottom: 24px;

        }

@media screen and (min-width: 1200px) {
    padding-bottom: 30px;

}

}

.team-name__title {
    font-weight: $medium-font;
    font-size: $normal-font-size;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.team-name__text {
    font-weight: $normal-font;
    font-size: $normal-font-size;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-color;
    margin-bottom: 16px;
}
.social-nets {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 0;  

    }

.social-nets__link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 10px;

    &:hover, &:focus {
        background-color: #2196f3;
    }
}

.social-nets__link--margin-right-0 {
    margin-right: 0;
}

.social-nets__instagram,
.social-nets__twitter,
.social-nets__facebook,
.social-nets__linkedin,
.clients__logo-1,
.clients__logo-2,
.clients__logo-3,
.clients__logo-4,
.clients__logo-5,
.clients__logo-6 {
    fill: #afb1b8;
}

.social-nets__link:hover .social-nets__instagram,
.social-nets__link:hover .social-nets__twitter,
.social-nets__link:hover .social-nets__facebook,
.social-nets__link:hover .social-nets__linkedin,
.social-nets__link:focus .social-nets__instagram,
.social-nets__link:focus .social-nets__twitter,
.social-nets__link:focus .social-nets__facebook,
.social-nets__link:focus .social-nets__linkedin {
    fill: #ffffff;
}